var languageCode = [{
  label: '中文',
  value: 'zh-CHS'
}, {
  label: '日文',
  value: 'ja'
}, {
  label: '英文',
  value: 'en'
}, {
  label: '韩文',
  value: 'ko'
}, {
  label: '法文',
  value: 'fr'
}, {
  label: '俄文',
  value: 'ru'
}, {
  label: '葡萄牙文',
  value: 'pt'
}, {
  label: '西班牙文',
  value: 'es'
}]

var formatLang = function (data) {
  for (var i = 0; i < languageCode.length; i++) {
    if (data === languageCode[i].value) {
      return languageCode[i].label
    }
  }
}

module.exports = {
  formatLang: formatLang
}